extends overview

block append head
    script(src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js')
    link(href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet')
    
block main  
    h1 This is tours page
        p #{movie.name}
    p This is the map section
    .map_sec 
        #map(style='width: 100vmax; height: 400px;')
block append script 
    script(src="/js/index.js")            